#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
}
ul{
    margin: 0;
}

li {
    list-style: none;
    cursor: pointer;
}

.app {
    display: flex;
}
